<a href="https://colab.research.google.com/github/iurisaints/personal_site/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Criando uma lista comum em Python

In [ ]:
nome = ['iuri', 'nascimento', 'santos']
print(nome[0], nome[1], nome[2])

iuri nascimento santos

Imprimindo meu nome através de lista com as letras iniciais em maíusculo

In [ ]:
nome = ['iuri', 'nascimento', 'santos']
print(nome[0].title(), nome[1].title(), nome[2].title())

Iuri Nascimento Santos

Imprimindo meu nome com identificação e letras iniciais em maíusculo

In [ ]:
nome = ['iuri', 'nascimento', 'santos']
print("Meu primeiro nome é: " + nome[0].title() + ". Meu sobrenome do meio é: " + nome[1].title() + ". Meu último sobrenome é: " + nome[2].title())

Meu primeiro nome é: Iuri. Meu sobrenome do meio é: Nascimento. Meu último sobrenome é: Santos

É possível mudar um valor da lista

In [ ]:
nome = ['iuri', 'nascimento', 'santos']
nome[0] = 'professor'
print(nome[0].title(), nome[2].title())

Professor Santos

Para adicionar valor em uma lista:

In [ ]:
nome = ['iuri', 'nascimento']
nome.append('santos')
print(nome)

['iuri', 'nascimento', 'santos']

Adicionar um valor em uma lista com o elemento escolhendo o índice que o representará:

In [ ]:
nome = ['nascimento', 'santos']
nome.insert(0, 'iuri')
print(nome)

['iuri', 'nascimento', 'santos']

Adicionar dois valores para o mesmo índice, dá certo?

In [ ]:
nome = ['nascimento', 'santos']
nome.insert(0, 'iuri')
nome.insert(0, 'professor')
print(nome)

['professor', 'iuri', 'nascimento', 'santos']

Deletar um valor da lista:

In [ ]:
nome = ['professor', 'iuri', 'nascimento', 'santos']
del nome[0]
print(nome)

['iuri', 'nascimento', 'santos']

Removendo de acordo com o valor do índice:

In [ ]:
nome = ['professor', 'iuri', 'nascimento', 'santos']
nome.remove('professor')
print(nome)

['iuri', 'nascimento', 'santos']

Removendo um valor indicando ele primeiramente para uma variável:

In [ ]:
nome = ['professor', 'iuri', 'nascimento', 'santos']
muitolindo = 'professor'
print(nome)
print("\n O " + muitolindo.title() + " é muito lindo e por isso não pode estar mais na lista")

['professor', 'iuri', 'nascimento', 'santos']

 O Professor é muito lindo e por isso não pode estar mais na lista

Inserindo valores numéricos inteiros (int) e com ponto flutuante (float)